/* Global  */
:root {
    --hyperlink-blue: #0645ad;
    --white: #f2f2f2;
    --yellow-cta: #fffafa;
    --red: #bf2a2a;
    --dark-grey: #343434;
    --fade-grey: #34343450;
    --yellow: #8c6f23;
    --blue-grey: #484d64;
    --light-blue: #b9c4ce;
    --dark-blue: #1d2540;
    --black-shadow: #00000035;
}

body {
    font-family: "Europa", Arial, Helvetica, sans-serif;
    margin: auto;
}

h1 {
    font-size: 6em;
    font-weight: lighter;
    letter-spacing: -1.5;
}

h2 {
    font-size: 3.75em;
    font-weight: lighter;
    letter-spacing: -0.5;
}

h3 {
    font-size: 3em;
    font-weight: normal;
}

h4 {
    font-size: 2.125em;
    font-weight: normal;
    letter-spacing: 0.25;
}

h5 {
    font-size: 1.5em;
    font-weight: normal;
}

h6 {
    font-size: 1.25em;
    font-weight: bold;
    letter-spacing: 0.15;
}

ul {
    list-style: none;
}

a,
i {
    color: var(--dark-blue);
    text-decoration: none;
}

.cta {
    background: var(--yellow);
    color: var(--white);
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0px 3px 1px #6e571a;
}

input[type="text"] {
    min-width: 230px;
}

.inherit {
    font-family: inherit;
}

/* Hover effects (desktop) */
@media (min-width: 1281px) {

    .visit:hover {
        background: var(--red);
        box-shadow: #BF2A2Ac0 -2px 2px, #BF2A2Aa0 -4px 4px, #BF2A2A80 -6px 6px, #BF2A2A60 -8px 8px;
    }

    .action_week:hover {
        background: var(--yellow);
        color: var(--white);
    }

    .action_week:hover i {
        color: var(--white);
    }

    .product-nav a::after {
        content: "";
        width: 0;
        height: 2px;
        background: var(--dark-blue);
        transition: 0.3s;
    }

    .product-nav a:hover::after {
        width: 50%;
        transition: 0.3s;
    }
}

/* Header */
header {
    margin: 10px auto 0 auto;
    max-width: 1640px;
}

.logo {
    max-width: 260px;
    float: left;
    margin-right: 20px;
}

.search-header {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    color: var(--dark-blue);
    width: 90%;
}

.search-bar {
    flex: auto;
    padding: 10px 150px 10px 10px;
    border: 2px solid var(--dark-blue);
    font-size: 1em;
}

.navigation,
.navigation ul {
    display: grid;
    grid-template-columns: 1fr repeat(4, auto);
    grid-gap: 100px;
}

.navigation {
    border-bottom: 1px solid var(--dark-grey);
}

.navigation li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

.navigation i {
    font-size: 1.5em;
}

.social-nav ul {
    display: grid;
    grid-template-columns: repeat(3, auto) 1fr;
    grid-gap: 15px;
    padding-left: 0px;
    margin-top: 15px;
    font-size: 1.5em;
}

.back {
    margin-top: 50px;
    background: var(--blue-grey);
    box-shadow: 0px 5px 5px var(--light-blue);
}

.back a {
    border-right: 2px solid var(--light-blue);
    padding: 22px 15px 15px 0;
}

.back i {
    margin-left: 20px;
    color: var(--white);
    font-size: 1.8em;
    padding: 15px;
}

.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background: var(--white);
}

.breadcrumb li {
    display: inline;
}

.breadcrumb li+li:before {
    margin: 5px;
    content: "/";

}

.breadcrumb li a {
    color: var(--hyperlink-blue)
}

.breadcrumb li a:hover {
    text-decoration: underline;
}

/* Advertisement */
.advert {
    max-width: 1640px;
    height: 729px;
    margin: auto;
}

.market {
    background-image: url("../images/CartoonUniverse1.jpeg");
    background-size: cover;
    background-position: center;
    height: 400px;
    margin: 80px 0 16px 0;
    text-align: center;
}

.market h1 {
    color: var(--white);
    margin: auto 100px 50px auto;
    max-width: 800px;
}

.visit {
    color: var(--white);
    background: #F2414190;
    padding: 10px 50px;
    border: 4px solid var(--red);
    border-radius: 10px;
    font-size: 1.5em;
    transition: 0.3s;
    margin-left: 650px;
}

.visit i {
    color: var(--white);
    left: 10px;
    position: relative;
}

.advert_scnd {
    display: grid;
    grid-template-columns: auto auto;
    gap: 16px;
    height: 315px;
}

.action_week {
    background: var(--white);
    text-align: center;
    color: var(--dark-grey);
    box-shadow: 1px 1px 5px var(--black-shadow);
    border: 5px solid var(--yellow);
    border-radius: 15px;
    transition: 0.3s;
}

.action_week h2 {
    margin: 16px auto;
}

.action_week p {
    background: var(--yellow);
    color: var(--white);
    padding: 5px;
    font-size: 1.5em;
    max-width: 80%;
    margin: 16px auto;
}

.action_week i {
    font-size: 6em;
    color: var(--dark-grey);
    transition: 0.3s;
}

.news {
    background: var(--light-blue);
    padding: 15px;
}

.news h3 {
    border-bottom: 1px solid var(--dark-grey);
    margin: auto 15px;
}

.news p {
    margin: 20px 0 0 15px;
}

/* Product nav */
.product-nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 150px auto 48px auto;
    font-size: 1.3em;
    max-width: 1220px;
}

.product-nav a {
    display: grid;
    place-items: center;
}

.product-nav i {
    font-size: 2.75em;
}

/* Contact button */
.contact_sticky {
    position: sticky;
    top: 125px;
    margin-top: 32px;
}

.contact_cta {
    background: var(--white);
    color: var(--dark-grey);
    border: 1px solid var(--dark-grey);
    box-shadow: var(--black-shadow) 2px 2px 5px;
    padding: 15px 75px;
    font-size: 1.3em;
    margin-left: 132px;
}

/* Product lists */
.product__header {
    background: var(--blue-grey);
    color: var(--white);
    text-align: center;
    padding: 10px;
    box-shadow: 0px 3px 2px var(--light-blue);
    max-width: 1088px;
    margin: auto;
}

.sale__header {
    background: var(--yellow);
}

.products__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 32px auto 48px auto;
    color: var(--dark-grey);
}

div img {
    max-width: 180px;
}

.product {
    max-width: 180px;
    margin: 15px;
    padding: 0 10px;
}

.product a {
    color: var(--yellow-cta);
}

.product h5 {
    margin: auto;
}

.price {
    font-size: 1.6em;
}

.sale .price {
    text-decoration: line-through;
    margin-left: 10px;
    font-size: 1em;
}

.sale__price {
    color: var(--red);
    font-size: 1.6em;
}

.featured .cta {
    float: right;
}

/* Marketplace Page */
.mp-image {
    background-image: url(../images/CartoonUniverse2.jpeg);
    background-size: cover;
    max-width: 1640px;
    height: 729px;
    margin: auto;
    color: var(--white);
}

.mp-image h1 {
    max-width: 720px;
    padding: 25px;
    text-align: center;
    margin-bottom: 50px;
}

.mp-cta {
    position: relative;
    right: 440px;
    line-height: 45px;
    font-size: 1.5em;
    text-align: center;
}

.mp-cta a {
    background: var(--light-blue);
    color: var(--dark-grey);
    padding: 25px;
}

.mp-cta i {
    margin: 0 8px;
}

.mp-new {
    border-radius: 50px 0 0 50px;
}

.mp-old {
    border-radius: 0 50px 50px 0;
}

.mp-nav h2 {
    text-align: center;
    color: var(--dark-grey);
    margin: auto;
}

.mp-sort {
    text-align: center;
    margin: 150px 0 20px 0;
}

.mp-sort span {
    font-size: 1.625em;
    color: var(--dark-grey);
}

.mp-sort input {
    display: none;
}

.mp-sort label {
    display: inline-block;
    text-align: center;
    width: 199px;
    height: 55px;
    line-height: 55px;
    cursor: pointer;
    background: var(--white);
    color: var(--dark-grey);
    font-size: 1.5em;
}

#recommended:checked~label[for="recommended"],
#genre:checked~label[for="genre"],
#platform:checked~label[for="platform"],
#year:checked~label[for="year"],
#esrb:checked~label[for="esrb"] {
    background: var(--dark-grey);
    color: var(--white);
}

.mp-search {
    text-align: center;
    margin-bottom: 10px;
}

.mp-search-bar {
    padding: 15px 774px 15px 15px;
    border-width: 2px;
    font-size: 1em;
}

.mp-search label {
    font-size: 1.625em;
    color: var(--dark-grey);
}

.mp-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: 50px auto;
    max-width: 1088px;
}

.mp-list a {
    text-align: center;
    padding: 15px;
    font-size: 1.4em;
    background: var(--white);
    color: var(--dark-grey);
    box-shadow: var(--black-shadow) 2px 2px 5px;
}

/* Product Page */
.prod-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.prod-img {
    margin: 50px auto 0px 400px;
}

.prod-img div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
}

.main-prod-img {
    max-width: 398px;
    margin-left: 12px;
}

.second-prod-img {
    max-width: 94px;
    margin-top: 16px;
}

.prod-text {
    max-width: 525px;
    color: var(--dark-grey);
}

.prod-text h1 {
    margin: auto;
}

.prod-text i {
    color: var(--yellow);
}

.prod-text a {
    text-decoration: underline;
}

.prod-text p {
    font-size: 1.125em;
}

.prod-text ul {
    list-style: disc;
}

.prod-radio h6 {
    margin: 16px auto;
    text-transform: uppercase;
}

.buying-options h6 {
    margin-top: 32px;
}

.buying-options .opt-new,
.opt-used {
    margin: auto;
}

.prod-radio input {
    display: none;
}

.prod-radio label {
    display: inline-block;
    margin: 5px;
    width: 191px;
    text-align: center;
    border: 3px solid #33333360;
    border-radius: 15px;
    color: #33333360;
    line-height: 50px;
    cursor: pointer;
}

.buying-options label {
    line-height: 30px;
}

#new:checked~label[for="new"],
#used:checked~label[for="used"],
#physical:checked~label[for="physical"],
#digital:checked~label[for="digital"],
#xbox:checked~label[for="xbox"],
#ps4:checked~label[for="ps4"],
#pc:checked~label[for="pc"],
#switch:checked~label[for="switch"] {
    color: var(--dark-grey);
    border-color: var(--yellow);
}

.quick-buy {
    margin: 32px 0;
}

.quick-buy p {
    margin: auto;
    font-style: italic;
    font-size: 1em;
}

.prod-mp-text p {
    background: var(--light-blue);
    padding: 5px;
    width: 81%;
    box-shadow: var(--blue-grey) 1px 1px 2px;
    text-align: center;
    margin: 5px 0 16px 0;
}

.prod-finish {
    margin: 32px 0 200px 0;
    max-width: 415px;
}

.prod-finish p {
    font-size: 1.625em;
    float: left;
}

.prod-finish a {
    padding: 15px 50px;
    font-size: 1.3em;
    text-decoration: none;
    float: right;
}

.prod-mag {
    text-align: center;
    background: var(--dark-grey);
    color: var(--white);
    padding: 25px 0;
    max-width: 1088px;
    margin: auto;
}

.prod-mag h2 {
    font-style: italic;
    margin: 32px auto 16px auto;
}

.prod-mag p {
    font-size: 1.75em;
    margin: 16px auto 32px auto;
    font-weight: lighter;
}

.prod-about {
    margin: 100px auto 250px auto;
    max-width: 1088px;
}

.prod-about_img {
    max-width: 400px;
    margin-left: 50px;
    float: right;
}

.prod-head {
    margin: 60px auto 16px auto;
    max-width: 1088px;
    color: var(--dark-grey);
}

.small-title {
    font-size: 18px;
    letter-spacing: 0.15;
}

.smaller-title {
    font-weight: bold;
    letter-spacing: 0.1;
}

.prod-reviews {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    max-width: 1088px;
    margin: auto;
}

.prod-reviews a {
    text-decoration: underline;
}

.review {
    border-radius: 15px;
    box-shadow: var(--black-shadow) 1px 1px 3px;
    padding: 15px;
    text-align: center;
}

.review img {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
}

.review i {
    color: var(--yellow);
}

/* Checkout Page */
.checkout-container {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 16px;
    max-width: 1088px;
    margin: 100px auto;
}

.checkout-box {
    border: 1px solid var(--fade-grey);
    border-radius: 27px 27px 0 0;
}

.checkout-box h1 {
    background: var(--dark-grey);
    color: var(--white);
    margin: 0;
    padding-left: 15px;
    border-radius: 25px 25px 0 0;
}

.checkout-form {
    margin: 32px 25px 16px 25px;
}

.checkout-form label {
    display: block;
    font-size: 1.2em;
    margin-top: 21px;
}

.checkout-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.checkout-box input,
select {
    border: 1px solid var(--fade-grey);
    font-size: 1em;
    padding: 10px;
}

.checkout-card {
    width: 350px;
}

.sec-code {
    max-width: 50px;
}

.checkout-box h5 {
    border-bottom: 1px solid var(--fade-grey);
    color: var(--dark-grey);
    margin: auto;
}

.checkout-disclaimer {
    background: var(--white);
    border: 1px solid var(--dark-grey);
    color: var(--dark-grey);
    max-width: 300px;
    padding: 5px 10px;
}

.disclaimer-red {
    display: block;
    color: var(--red);
    margin-bottom: 10px;
}

.checkout-submit input {
    position: relative;
    right: 200px;
    margin: 25px auto;
    padding: 15px 100px;
    font-size: 1.3em;
    font-weight: normal;
    background: var(--light-blue);
    color: var(--dark-grey);
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.cart-box {
    background-color: var(--white);
    color: var(--dark-grey);
    box-shadow: var(--black-shadow) 1px 1px 3px;
    text-align: center;
    width: 120%;
}

.cart-box i {
    font-size: 3em;
    color: var(--dark-grey);
    margin-top: 16px;
}

.cart-box p {
    margin: 8px;
}

.cart-box h5 {
    margin: 10px auto 20px auto;
}

.cart-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    padding-left: 15px;
}

.cart-discount {
    border-top: 1px solid var(--fade-grey);
    border-bottom: 1px solid var(--fade-grey);
    padding: 10px 0;
    max-width: 90%;
    margin: 32px auto;
}

.cart-discount a {
    display: block;
    color: var(--hyperlink-blue);
}

.cart-content {
    background-color: #fff;
    max-width: 90%;
    margin: auto;
    box-shadow: 1px 1px 5px var(--black-shadow);
    padding-bottom: 10px;
}

.cart-content img {
    margin-top: 8px;
}

.cart-content h6 {
    margin: 0 0 16px 15px;
    text-align: left;
}

.cart-content p {
    text-align: left;
    margin: 0 0 5px 0;
}

/* Thank You For Purchase Page */
.thanks-header {
    background: url(../images/Controller.jpeg);
    background-size: cover;
    max-width: 1640px;
    height: 729px;
    margin: auto;
    text-align: center;
}

.thanks-header h1 {
    color: var(--white);
    text-transform: uppercase;
    font-weight: bold;
    max-width: 800px;
    padding: 175px 0 0 675px;
}

.return-home {
    background: linear-gradient(#076DF2, #0798F2);
    color: var(--white);
    padding: 15px 25px;
    font-size: 1.625em;
    border-radius: 5px;
    position: relative;
    top: 50px;
    left: 255px;
}

.return-home span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
}

.return-home span:after {
    content: "\276F";
    opacity: 0;
    position: absolute;
    right: 10px;
    transition: 0.3s;
}

.return-home:hover span {
    padding-right: 25px;
}

.return-home:hover span:after {
    opacity: 1;
    right: 0;
}

/* Create Account Page */
.acc-container {
    display: grid;
    grid-template-columns: 38% 62%;
    background: var(--white);
    box-shadow: 1px 1px 5px var(--black-shadow);
    margin: auto;
    max-width: 1088px;
    text-align: center;
    height: 600px;
    color: var(--dark-grey);
}

.acc-form img {
    margin-top: 32px;
}

.acc-create {
    font-weight: bold;
    font-size: 18px;
}

.acc-fb {
    background: #4267B2;
    color: #fff;
    font-size: 21px;
    font-weight: lighter;
    padding: 15px 28px;
    border-radius: 5px;
}

.acc-fb i {
    color: #fff;
    margin-right: 10px;
    font-size: 1.75em;
    position: relative;
    top: 5px;
}

.acc-or {
    margin: 32px 0 0 0;
    font-size: 21px;
    font-weight: lighter;
}

.acc-form label {
    display: block;
    text-align: left;
    margin: 16px 0 0 60px;
    font-size: 18px;
}

.acc-form input {
    border: 1px solid var(--fade-grey);
    border-radius: 5px;
    font-size: 1em;
    padding: 10px 50px;
}

.acc-submit {
    margin: 16px auto 16px auto;
}

.acc-submit input {
    padding: 15px 95px;
    border: 5px solid var(--dark-blue);
    border-radius: 10px;
    color: var(--dark-grey);
    font-size: 21px;
    font-weight: lighter;
    cursor: pointer;
    transition: 0.3s;
}

.acc-submit:hover input {
    border-radius: 50px;
    background: var(--dark-blue);
    color: var(--white);
    box-shadow: 2px 2px 10px var(--dark-blue);
}

.acc-slogan {
    background: url(../images/Universe3.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .3);
    color: var(--white);
}

.acc-slogan h1 {
    text-align: left;
    margin: 75px 0 0 32px;
    line-height: 85px;
    max-width: 621px;
}

.subtext {
    text-align: left;
    margin: 45px 0 0 32px;
    font-size: 1.6em;
    max-width: 550px;
}

/* Contact Page */
.c-title {
    margin: auto;
    text-align: center;
    color: var(--dark-grey);
}

.c-container {
    max-width: 1088px;
    margin: 32px auto;
    display: grid;
    grid-template-columns: 45% 55%;
    gap: 16px;
    text-align: center;
}

.contact {
    background: var(--white);
    box-shadow: 1px 1px 7px var(--black-shadow);
    margin-bottom: 32px;
}

.contact i {
    font-size: 2.5em;
    color: var(--dark-grey);
    margin: 32px auto 0 auto;
}

.contact h5 {
    margin: 16px auto 32px auto;
    color: var(--dark-grey);
}

.phone {
    color: var(--hyperlink-blue);
    font-size: 18px;
    font-weight: normal;
}

.c-left {
    padding-bottom: 16px;
    font-weight: lighter;
    font-size: 18px;
}

.c-hours {
    display: grid;
    grid-template-columns: auto auto;
    max-width: 288px;
    margin: auto;
    line-height: 45px;
    color: var(--dark-grey);
}

.c-hours li {
    text-align: left;
}

.c-social p {
    margin: 0 0 16px 0;
    padding: 43px;
    color: var(--white);
    font-size: 21px;
    text-transform: uppercase;
    font-weight: lighter;
}

.c-fb {
    background: #4267B2;
}

.c-tw {
    background: #1DA1F2;
}

.c-ig {
    background: #C13584;
}

.c-right form {
    display: grid;
    grid-template-columns: auto;
    max-width: 362px;
    margin: auto;
}

.c-right label {
    margin-top: 16px;
    text-align: left;
    font-size: 18px;
    font-weight: lighter;
    color: var(--dark-grey);
}

.c-right input {
    padding: 10px;
    border: 1px solid var(--fade-grey);
}

.c-right textarea {
    border: 1px solid var(--fade-grey);
    padding: 75px 0;
    max-width: 385px;
    min-width: 385px;
    min-height: 28px;
    max-height: 28px;
}

.c-checkbox {
    text-align: left;
}

.c-checkbox label {
    display: inline-block;
    font-size: 16px;
}

.c-submit input {
    margin: 32px auto;
    padding: 15px 138px;
    font-size: 18px;
    border: none;
    background: var(--dark-grey);
    color: var(--white);
    border-radius: 50px;
    cursor: pointer;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-evenly;
    margin: 75px auto;
    padding-top: 25px;
    color: var(--light-blue);
    border-top: 1px solid var(--dark-blue);
    max-width: 1640px;
}

footer img {
    max-width: 100px;
}

footer a:hover {
    border-bottom: 1px solid var(--dark-blue);
}